*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:pink;
    font-family:poppins;
}
.container{
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    height:80vh;
    width:60vw;
    box-shadow: insert -8px -8px 12px rgb(185,103,117),
                insert 8px 8px 12px rgb(201,95,114);
                border-radius:50px;


}
.content{
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);

}
.content h1{
    text-transform: uppercase;
    text-align: center;
    color:#d7385c
}
.inputarea{
    display:flex;
}
.inputarea input{
    width:200px;
    height:30px;
    text-align:center;
    margin:5px;
    outline:none;
    border:2px solid #d7385c;
    padding:20px 40px;
    font-size:20px;
}


/* .button {
    background-color: pink;
    color: white; /* You may want to change the text color to ensure readability */
    border: none; /* Optional, to remove the button border */
    padding: 10px 20px; /* Optional, adjust padding as needed */
    cursor: pointer; /* Optional, to indicate it's clickable */
  } */
  
.a{
    display:flex;
    justify-content:center;
    text-decoration: none;
    background-color:#d7385c;
    padding:10px;
    margin:0px 6px;
    color:#fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight:bold;
}
#print{
    display:flex;
    justify-content:center;
    background-color:#d7385c;
    margin:20px;
    padding: 20px 50px;
    color:#fff;
    text-transform: uppercase;
    font-size: 20px;
    text-align:center;
}